body {
      background-color: #506699;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: #E6B645
}

.Logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 19%;
}
#menu-outer {
	height: 84px;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
}
ul#horizontal-list li {
    list-style: none;
    font-size: xx-large;
	display: inline;
    padding: 1.9%;
}

ul#horizontal-list a {
    text-decoration: none;
    color: #FF8917;
    
}
.welcomePage {
    margin-left: auto;
    margin-right: auto;
    border: 5px outset #E6B645;
    width: 70%;
    box-sizing: content-box;
    background-color: #506699; 
    text-align: center;
  }
.welcomePage h3 {
    text-decoration: underline;
}
p.intro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
hr {
    border-top: 1px solid #506699;
    border-color: #506699;
}
p.intro2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.characterNameEntry input {
    background-color:#00325c;
    border-color: #FF8917;
    text-align: center;
    color: azure;
}
.nameOfPlayer {
    color: #FF8917;
    font-weight: bolder;
    font-size: larger;
}
.playButton {
    background-color:#E6B645;
    border: none;
    color: #00325c;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}

.playButton:hover {
    opacity: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.enterButton{
    background-color:#E6B645;
    border: none;
    margin-left: 5px;
    color: #00325c;
    border: 1px solid #00325c;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
}
